{% macro search_results(msgs, autofocus=False, condensed=False, margin_top=20, margin_bottom=20) -%}
<div class="filter" style="margin-bottom:{{margin_bottom}}px;margin-top:{{margin_top}}px;">
  <input {% if autofocus %} autofocus="autofocus" {% endif %} style="width:100%" type="text" class="filter-table input-medium search-query" placeholder="Type here to filter">
</div>
<table class="filter-table table table-striped {% if condensed %}table-condensed{% endif%}" style="table-layout:fixed">
  <thead>
    <tr>
      <th>Msg-id</th>
      <th>Subject</th>
      <th>Summary</th>
      <th>XTTS</th>
    </tr>
  </thead>
  <tbody class="searchable">
    {% for msg in msgs %}
    <tr>
      <td><a href="/v2/message/{{msg.id}}">View</a></td>
      <td style="word-wrap:break-word">{{msg.subject}}</td>
      <td style="word-wrap:break-word">{{msg.summary}}</td>
      <td style="word-wrap:break-word">{{msg.xtts}}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{%- endmacro %}
