{% extends 'layout.html' %}
{% import '_macros.html' as macros %}
{% block content %}
<h1>Search snot quickly</h1>
<div class="filter" style="margin-bottom:{{margin_bottom}}px;margin-top:{{margin_top}}px;">
  <input autofocus="autofocus" style="width:100%" type="text" class="filter-table input-medium search-query" placeholder="Type here to search">
</div>
<h3>FSS: Fast Snot Search</h3>uses a xapian index tool and the notmuch email program to quickly parse the whole snot corpus, even messages marked as 'archived'.
{% endblock content %}
